
@model MyAppModels.ViewModels.Cart
<h3>  Product Detail </h3>
<hr />

<form method="post">
 <div class="row">
        <div class="col-4">

           <img src="@Model.Product.imageurl" width="200" height="200" />
           <input type="hidden" asp-for="ProductId" />
            </div>
      <div class="col-6">
               <label asp-for="Product.ProductName">ProductName:    @Model.Product.ProductName</label><br />
                <label asp-for="Product.Price">ProductPrice:    @Model.Product.Price.ToString("0.00")</label><br />
                 <label asp-for="Product.Description">ProductDescription:   @Model.Product.Description</label><br />
                  <label asp-for="Product.category.Id">Category:      @Model.Product.CategoryId</label><br />
                   
             <div class="col-2 py-2">
                <label asp-for="Count"></label>
                <input  asp-for="Count" class="form-control"/>
                <span asp-validation-for="Count" class="text-primary"></span>
            </div>       
             <div class="form-control  col-2 py-6">
                          <button class="btn btn-success" asp-action="Index" asp-controller="Home">Back</button>
                          <button class="btn btn-dark" asp-action="Details">Add to Cart</button>
             </div>
       </div>
     
 </div>


</form>